.home_page_menu_left {
    width: 25%;
    margin: 0 auto;
    height: auto;
}
.menu_list {
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 5px #95a5a6;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: inherit;
    transition: box-shadow 0.3s;
}

.menu_list:hover {
    box-shadow: 0 0 20px;
    background-color: #f1c40f;
}

.menu_list * {
    margin: 0 5px;
}

.menu_list li {
    list-style: none;
    font-size: 15px;
}

.completed {
    background-color: #f1c40f;
}
