.info_block {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    height: 130px;
    background-color: #f7f1e3;
    box-shadow: 0 0 2px black;
}
.info_block img{
    background-color: wheat;
    margin-right: 20px;
    width: 300px;
    height: 80%;
    border-right: 1px solid #b2bec3;
    cursor: pointer;
}
.info_block p{
    width: 350px;
}

.phone{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    margin: 35px 0 0 50px;
    padding: 10px;
    height: 100%;
    width: 300px;
}
#t{
    font-size: 11px;
    margin-top: 5px;
}



.basket {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
    height: 100%;
    margin-left: 50px;
    padding: 10px;
    cursor: pointer;
}

.basket img{
    width: 70px;
    height: 50px;
}
span:hover{
    text-decoration: underline;
    text-shadow: 0 0 2px grey;
}