.info_block_all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 5px;
    border-bottom: 1px solid #7f8c8d;
    height: 100px;
}
.info_block_all img{
    height: 100px;
    cursor: pointer;
}

.info_block_B {
    display: flex;
    font-size: 14px;
    padding: 10px;
}


.phone{
    text-align: end;
    width: auto;
    margin-left: 150px;
}

@media (max-width: 770px) {
    .info_block img {
        display: none;
    }
    .phone{
        width: 250px;
        margin: 20px 0 0 0;

    }
}

