.basket {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: initial;
    margin-left: 100px;
    width: 250px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    border-radius: 5px;

}

@media (max-width: 770px) {
    .basket{
        width: 200px;
        margin-left: 20px;

    }
}

.basket img{
    width: 70px;
    height: 50px;
    border-radius: 5px;
}
span:hover{
    text-decoration: underline;
    text-shadow: 0 0 2px grey;
}