.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.nav_menu div+div{
    margin-left: 20px;
}
.nav_menu div{
    text-shadow: 0 0 5px grey;
    border-radius: 3px;
}
.nav_menu div:hover{
    text-shadow: 2px 2px 3px white;
}