.nav_menu{
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #f1c40f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}
.nav_menu div+div{
    margin-left: 20px;
}
.nav_menu div{
    transition: text-shadow 0.3s;
}
.nav_menu div:hover{
    text-shadow: 5px 5px 15px #34495e;
}
